.container{
    width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
}
@media screen and (max-width:768px){
    .container{
        width: 768px;
    }
}
@media screen and (max-width:375px){
    .container{
        width: 375px;
    }
}