.gear{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    &__img{
        width: 540px;
        height: 588px;
    }
    &__box{
        width: 445px;
        span{
            color: #D87D4A;
        }
        h1{
color: #000000;
font-weight: 700;
font-size: 40px;
line-height: 44px;
        }
        p{
font-size: 15px;
line-height: 25px;
opacity: 0.5;
        }
    }
}
@media screen and (max-width:768px){
    .gear{
        width: 768px;
flex-direction: column-reverse;
text-align: center;
&__img{
    width: 689px;
    height: 300px;
}
&__box{
    width: 573px;
}
h1{
    width: 573px;
}
p{
    width: 573px;
}
    }
}
@media screen and (max-width:375px){
    .gear{
        width: 375px;
flex-direction: column-reverse;
text-align: center;
&__img{
width: 327px;
    height: 300px;
}
&__box{
    width: 327px;
}
h1{
    width: 327px;
}
p{
    width: 327px;
}
    }
}